body {
  background-color: #3F5268;
}
.md-card {
  background-color: #333 !important;
  color: #f2f2f2 !important;
  margin-bottom: 1px;
}

.md-card-header, .md-display-2, .md-display-1, .md-display-3, .md-display-4, .md-display-6, .md-display-5 {
  color: #f2f2f2 !important;
}

.md-sidenav .md-sidenav-content, .md-list, .md-list .md-list-item-expand .md-list-item-container {
  background-color: #333 !important;
  color: #f2f2f2;
}

.md-theme-default code {
  background-color: transparent !important;
  color: skyblue;
}

.md-theme-default.md-tabs>.md-tabs-navigation {
    background-color: #3F5268;
}



