<template lang="pug">
	.phone-viewport
		md-toolbar
			md-button.md-icon-button(@click='toggleLeftSidenav')
				md-icon menu
			h2.md-title {{ docs.name }}
		
		md-sidenav.md-left(ref='leftSidenav', @open="open('Left')", @close="close('Left')")
			leftMenu(:docs="docs")
		
		contentSection(:docs="docs")

			

</template>

<script>
import leftMenu from '@/components/left-menu.vue'
import contentSection from '@/components/content.vue'
// import codeTabs from '@/components/code-tabs.vue'

export default {
	name: 'IndexPage',
	components: {
		leftMenu,
		contentSection,
		// codeTabs
	},
	props: ['docs'],
	methods: {
		toggleLeftSidenav() {
			this.$refs.leftSidenav.toggle();
		},
		toggleRightSidenav() {
			this.$refs.rightSidenav.toggle();
		},
		closeRightSidenav() {
			this.$refs.rightSidenav.close();
		},
		open(ref) {
			console.log('Opened: ' + ref);
		},
		close(ref) {
			console.log('Closed: ' + ref);
		}
  	}
}
</script>

<style lang="scss" scoped>

</style>
