<template lang="pug">
    md-card.pull-right
        md-card-header
            .md-subhead  CODE SAMPLES
        md-card-content
            md-tabs(md-right)
                md-tab(id="jquery" md-label="jQuery")
                    pre.wrap-body
                        code.hljs
                            | var settings = {
                            |    "async": true,
                            |    "crossDomain": true,
                            |    "url": "https://{{ request.url }}",
                            |    "method": "{{ request.method }}",
                            |    "headers": {{ request.headerData }},
                            |    "processData": false,
                            |    "data": {{ request.rawModeData }}
                            | }
                            |
                            | $.ajax(settings).done(function (response) {
                            |    console.log(response);
                            | });

                md-tab(id="nodejs" md-label="NodeJS")
                    pre.wrap-body
                        code.javascript
                            | var settings = {
                            |    "async": true,
                            |    "crossDomain": true,
                            |    "url": "https://{{ request.url }}",
                            |    "method": "POST",
                            |    "headers": {{ request.headerData }},
                            |    "processData": false,
                            |    "data": {{ request.rawModeData }}
                            | }
                            |
                            | $.ajax(settings).done(function (response) {
                            |    console.log(response);
                            | });
</template>

<script>
export default {
    name: 'codeTabs',
    methods: {
    },
    props: ['request']
}
</script>

<style lang="scss" scoped>
pre.wrap-body, .wrap-body {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.pull-right {
    width:100%;
    margin-left: 10px;
}
</style>