<template lang="pug">
    .phone-viewport(ref="content")

        md-card
            md-card-header
                div.md-display-2 {{ docs.name }}
                div.md-subhead {{ docs.description }}


        md-card.width-100(v-for="folder in docs.folders" :key="'content-' + folder.id")

            md-card-header
                div.md-display-1 {{ folder.name }}
                div.md-subhead {{ folder.description }}                

            md-card-content(v-for="request in folder.requests" :key="'menu-' + request.id" :id="'request-' + request.id")
                md-layout(md-gutter)
                    md-layout(md-flex="60")
                        infoTab(:request="request")
                    md-layout(md-flex="40")
                        codeTabs(:request="request")
</template>
<script>
                // md-tabs(md-right)
                //     md-tab(:id="'info-' + request.id" md-label="INFO")
                //         md-card(v-if="request.headerData")
                //             md-card-header
                //                 .md-subhead HEADERS
                //             md-card-content
                //                 code
                //                     pre {{ request.headers }}

                //                 md-table
                //                     md-table-body
                //                         md-table-row(v-for="header in request.headerData" :key="header.id")
                //                             md-table-cell {{ header.key }}
                //                             md-table-cell
                //                                 .alert.alert-warning(v-if="header.description") {{ header.description }}

                //         md-card(v-if="request.rawModeData")
                //             md-card-header
                //                 .md-subhead BODY
                //             md-card-content
                //                 code(lang="json") 
                //                     pre {{ request.rawModeData }}
                    
                //         md-card(v-if="request.responses")
                //             md-card-header
                //                 .md-subhead RESPONSES
                //             md-card-content
                //                 md-tabs
                //                     md-tab(v-for="response in request.responses" :id="'response-' + response.id" :md-label="response.name" :key="response.id")
                //                         p.alert.alert-info(v-if="response.message") {{ response.message }}
                //                         code(lang="json") 
                //                             pre {{ response.text }}
                                            
                //     md-tab(:id="'code-' + request.id" md-label="CODE")
                //         codeTabs(:request="request")
// </template>


import codeTabs from '@/components/code-tabs'
import infoTab from '@/components/info'
// import marked from 'marked'

export default {
    name: 'content',
    methods: {
        // md: function(string) {
        //     return marked(string, { sanitize: true })
        // }
    },
    components: {
        codeTabs,
        infoTab
    },
    props: ['docs']
}
</script>

<style lang="scss" scoped>
    .highlight {
        background: yellow;
    }
    .width-100 {
        width: 100%;
    }
    pre.wrap-body, .wrap-body {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
</style>

