<template lang="pug">
  .phone-viewport
      div.md-headline {{ request.name }}
      span.md-caption.highlight
        i
          strong {{ request.method }}
          | &nbsp; @ &nbsp;
          strong {{ request.url }}
      p.md-body-2 {{ request.description }}
      md-card(v-if="request.headerData")
            md-card-header
                .md-subhead HEADERS
            md-card-content
                pre
                  code {{ request.headers }}

                .headerNotes(v-for="header in request.headerData" :key="header.id" v-show="header.description")
                    .alert.alert-warning
                      strong {{ header.key }} -
                      | &nbsp; {{ header.description }}

      md-card(v-if="request.rawModeData")
          md-card-header
              .md-subhead BODY
          md-card-content
              pre
                  code.json {{ request.rawModeData }}

      md-card(v-if="request.responses")
          md-card-header
              .md-subhead RESPONSES
          md-card-content
              md-tabs
                  md-tab(v-for="response in request.responses" :id="'response-' + response.id" :md-label="response.name" :key="response.id")
                      p.alert.alert-info(v-if="response.message") {{ response.message }}
                      pre
                        code.json {{ response.text }}
</template>

<script>
export default {
    name: 'infoBar',
    methods: {
    },
    props: ['request']
}
</script>

<style lang="scss" scoped>
.highlight {
        background: yellow;
    }
    pre, .wrap-body {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    .alert {
        padding: 10px 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
.small-POST {
    font-size: 8px;
    color: orange;
    font-weight: bold;
}
.small-GET {
    font-size: 8px;
    color: green;
    font-weight: bold;
}
.small-DELETE {
    font-size: 8px;
    color: red;
    font-weight: bold;
}
.small-OPTIONS {
    font-size: 8px;
    color: yellow;
    font-weight: bold;
}
</style>
