<template lang="pug">
    .phone-viewport(ref="sidebar")
        md-toolbar
            div.md-title {{ docs.name }}
        md-list
            md-list-item(v-for="folder in docs.folders" :key="folder.id")
                md-icon folder
                span {{ folder.name }}
                md-list-expand
                    md-list-item.md-inset(v-for="request in folder.requests" :key="request.id")
                        span
                            a(:href="'#request-' + request.id") {{ request.name }}
                        small(:class="'small-' + request.method") {{ request.method }}
</template>

<script>
export default {
    name: 'leftSidenav',
    methods: {
    },
    props: ['docs']
}
</script>

<style lang="scss" scoped>
.small-POST {
    font-size: 8px;
    color: orange;
    font-weight: bold;
}
.small-GET {
    font-size: 8px;
    color: green;
    font-weight: bold;
}
.small-DELETE {
    font-size: 8px;
    color: red;
    font-weight: bold;
}
.small-OPTIONS {
    font-size: 8px;
    color: yellow;
    font-weight: bold;
}
</style>
