<template lang="pug">
#app
	Index(:docs="docs")
</template>

<script>
import 'vue-material/dist/vue-material.css'
import '../static/css/theme.css'

// import MainToolbar from '@/components/main-toolbar'
// import MainSidebar from '@/components/main-sidebar'
// import Welcome from '@/components/welcome'
// import Dashboard from '@/components/dashboard'

import Index from '@/pages/index'

export default {
	name: 'app',
	data () {
		return {
			sidebarActive: false
		}
	},
	computed: {
	},
	components: {
		Index,
	},
	methods: {
		// toggleSidenav () {
		// 	this.$refs.mainSidebar.$refs.sidebar.toggle()
		// },
		// closeSidenav () {
		// 	this.$refs.mainSidebar.$refs.sidebar.close()
		// }
	},
	computed: {
        docs () {
			console.log("$docs", this.$store.state.docs)
			this.$store.state.docs.folders.map(folder => console.log('folder', folder))
			this.$store.state.docs.requests.map(request => console.log('request', request))
			let $docs = this.$store.state.docs
			let docs = $docs.folders.reduce((docs, folder, index) => {
				let f = folder;
				f.requests = $docs.requests.filter((req => {
					return (~f.order.indexOf(req.id)) ? req : false
				}))
				docs.folders.push(f);
				return docs
			}, { folders: [] })
			docs.name = $docs.name
			docs.description = $docs.description
			console.log("docs", docs)
			return docs
        }
    }
}
</script>

<style lang="scss">
// Always show sidebar on larger screens
@media (min-width: 1281px) {
	#app {
		padding-right: 304px;
	}
	#main-sidebar {
		.md-sidenav-content {
			pointer-events: auto;
			transform: translate3d(0, 0, 0);
			box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
		}
		.md-backdrop {
			opacity: 0;
			pointer-events: none;
		}
	}
}
</style>
